<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome</title>
</head>
<body>
<h1 class="p-2 m-2 text">Milos Petrovic - Spring boot app</h1>
<form action="/secure/hello" method="get" class="p-2 m-2 d-block">
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary btn-block">Log in</button>
    </div>
</form>
<form action="/all" method="get" class="p-2 m-2 d-block">
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary btn-block" formtarget="_blank">View all</button>
    </div>
</form>
<form action="/hello" method="get" class="p-2 m-2 d-block">
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary btn-block" formtarget="_blank">Hello</button>
    </div>
</form>
<form action="/hello-rest" method="get" class="p-2 m-2 d-block">
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary btn-block" formtarget="_blank">Hello Rest</button>
    </div>
</form>
</body>
</html>